<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Music Project{% endblock %}</title>
</head>

<body>

    <header>
        <h1>Music Project</h1>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        {% include 'playerControl.html.twig' %}
    </footer>

</body>
</html>