<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Music Project{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
</head>

<body>

    <header>
        <h1>Music</h1>
        <a href="{{ path('homepage') }}">Home</a>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
    </header>

    <main class="content">
        {% block body %}{% endblock %}
    </main>

    <footer>
        {% include 'playerControl.html.twig' %}
    </footer>

</body>
</html>